<p id="notice"><%= notice %></p>

<h1>Registers</h1>

<table>
  <thead>
    <tr>
      <th>Weight</th>
      <th>Department</th>
      <th>Laboratory</th>
      <th>Residue</th>
      <th>Collection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <% if register.weight != 0.0 %>
          <td><%= register.weight %></td>
          <td><%= Department.find(register.department_id).name %></td>
          <td><%= Laboratory.find(register.laboratory_id).name %></td>
          <td><%= Residue.find(register.residue_id).name %></td>
          <td><%= Collection.find(register.collection_id).max_value %></td>
          <td><%= link_to 'Show', register %></td>
          <td><%= link_to 'Edit', edit_register_path(register) %></td>
          <td><%= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Register', new_register_path %>
