<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laboratory.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @laboratory.string %>
</p>

<p>
  <strong>Dep name:</strong>
  <%= @laboratory.dep_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @laboratory.string %>
</p>

<p>
  <strong>Facilitador:</strong>
  <%= @laboratory.facilitador %>
</p>

<p>
  <strong>String:</strong>
  <%= @laboratory.string %>
</p>

<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratories_path %>
