<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laboratory.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= Department.find(@laboratory.department_id).name %>
</p>

<p>
  <strong>User:</strong>
  <% if @laboratory.user_id != nil %>
    <%= User.find(@laboratory.user_id).name %>
  <% else %>
    Usuário não definido
  <% end %>
</p>

<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratories_path %>
