<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laboratory.name %>
</p>

<p>
<<<<<<< HEAD
  <strong>String:</strong>
  <%= @laboratory.string %>
</p>

<p>
  <strong>Dep name:</strong>
  <%= @laboratory.dep_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @laboratory.string %>
</p>

<p>
  <strong>Facilitador:</strong>
  <%= @laboratory.facilitador %>
</p>

<p>
  <strong>String:</strong>
  <%= @laboratory.string %>
=======
  <strong>Department:</strong>
  <%= @laboratory.department %>
</p>

<p>
  <strong>User:</strong>
  <%= @laboratory.user %>
>>>>>>> 3eabae6d504822de73998139fda6ae708c23e5d8
</p>

<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratories_path %>
