<%= form_for(department) do |f| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

<<<<<<< HEAD
  <div class="field">
    <%= f.label :string %>
    <%= f.text_field :string %>
  </div>

=======
>>>>>>> 3eabae6d504822de73998139fda6ae708c23e5d8
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
