<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<<<<<<< HEAD
<p>
  <strong>String:</strong>
  <%= @department.string %>
</p>

=======
>>>>>>> 3eabae6d504822de73998139fda6ae708c23e5d8
<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
