<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @residue.name %>
</p>

<p>
<<<<<<< HEAD
  <strong>String:</strong>
  <%= @residue.string %>
</p>

<p>
  <strong>Lab name:</strong>
  <%= @residue.lab_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @residue.string %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @residue.weight %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @residue.integer %>
</p>

<p>
  <strong>Type:</strong>
  <%= @residue.type %>
</p>

<p>
  <strong>String:</strong>
  <%= @residue.string %>
=======
  <strong>Type:</strong>
  <%= @residue.type %>
</p>

<p>
  <strong>Blend:</strong>
  <%= @residue.blend %>
</p>

<p>
  <strong>Onu:</strong>
  <%= @residue.onu %>
</p>

<p>
  <strong>Code:</strong>
  <%= @residue.code %>
</p>

<p>
  <strong>Laboratory:</strong>
  <%= @residue.laboratory %>
>>>>>>> 3eabae6d504822de73998139fda6ae708c23e5d8
</p>

<%= link_to 'Edit', edit_residue_path(@residue) %> |
<%= link_to 'Back', residues_path %>
