<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @residue.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @residue.string %>
</p>

<p>
  <strong>Lab name:</strong>
  <%= @residue.lab_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @residue.string %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @residue.weight %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @residue.integer %>
</p>

<p>
  <strong>Type:</strong>
  <%= @residue.type %>
</p>

<p>
  <strong>String:</strong>
  <%= @residue.string %>
</p>

<%= link_to 'Edit', edit_residue_path(@residue) %> |
<%= link_to 'Back', residues_path %>
