<%= form_for(report) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :generate_by %>
    <%= f.radio_button :generate_by, 0, :checked => true , :id => 'rb0' %> Coleção <br>
    <%= f.radio_button :generate_by, 1, :checked => false , :id => 'rb1'%> Departamento <br>
    <%= f.radio_button :generate_by, 2, :checked => false , :id => 'rb2'%> Laboratório <br>
    <%= f.radio_button :generate_by, 3, :checked => false , :id => 'rb3'%> Resíduos
  </div>

  <div class="field">
    <%= f.label :begin_date %>
    <%= f.date_select :begin_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :f_unit %>
    <%= f.check_box :f_unit %>
  </div>

  <div class="field">
    <%= f.label :f_state %>
    <%= f.check_box :f_state %>
  </div>

  <div class="field">
    <%= f.label :f_kind %>
    <%= f.check_box :f_kind %>
  </div>

  <div class="field">
    <%= f.label :f_onu %>
    <%= f.check_box :f_onu %>
  </div>

  <div class="field">
    <%= f.label :f_blend %>
    <%= f.check_box :f_blend %>
  </div>

  <div class="field">
    <%= f.label :f_code %>
    <%= f.check_box :f_code %>
  </div>

  <div class="field">
    <%= f.label :f_total %>
    <%= f.check_box :f_total %>
  </div>

  <div class="field">
    <%= f.label :collection_id %>
    <%= f.text_field :collection_id %>
  </div>
  
  <ul>
    <% Department.all.order(:name).each do |dep| %>
      <li> <%= dep.name %></li>
    <% end %>
  <% if @report.generate_by == 1 %>
    <% Department.all.order(:name).each do |dep| %>
      <li> <%= dep.name %></li>
    <% end %>
  <% else %>
    <%if @report.generate_by == 2 %>
      <% Laboratory.all.order(:name).each do |dep| %>
        <li> <%= dep.name %></li>
      <% end %>
    <% else @report.generate_by == 3 %>
      <% Residue.all.order(:name).each do |dep| %>
        <li> <%= dep.name %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
